html,body{
	margin: 0;
	padding: 0;
	font-family: "Comic Sans MS";
}
body{
	background-image: url(../images/texture.jpg);
	background-size: contain;
}
::-webkit-scrollbar-track {background-color:rgba(0,0,0,.9)}
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: url(../images/texture.jpg);
	background-size: cover;
}
::-webkit-scrollbar-thumb:hover{background-color:rgba(255,255,255,.6)}
::-webkit-scrollbar{width: 20px}
header,footer{
	margin: 50px auto;
	width: 66%;
	box-sizing: border-box;
	padding: 1%;
	border-radius: 40pt;
	border: 5px solid #aaa;
	border-left-width: 25px;
	border-right-width: 25px;
	background-color: white;
	box-shadow: 0 0 20px black;
	font-size: 36pt;
	text-shadow: 2px 2px 2.5px #777;
	text-align: center;
	cursor: default;
}
header strong{font-size: 44pt}
.main{
	margin: 5%;
	padding: 2% 5%;
	font-size: 14pt;
	box-sizing: border-box;
	background-color: white;
	border-radius: 50px;
	border: 5px solid #aaa;
	box-shadow: 0 0 20px black;
}
h1,h2,p,table *{cursor: default}
h1{
	text-transform: uppercase;
	text-align: center;
}
h2{margin: 30px 0 12px 0}
p{margin: 1vh 0}
.cover{
	display: block;
	margin: 5vh auto;
	max-width: 100%;
	max-height: 80vh;
	border: 5px solid #888;
	box-sizing: border-box;
	box-shadow: 0 0 20px #333;
}
.yndxmusic{
	margin-bottom: 32px;
	width: 100%;
	height: 25vw;
	border-radius: 10px;
}
.yndxmusic:hover{box-shadow: 0 0 10px black}
.note{
	border-left: 3px solid black;
	padding-left: .5vw;
	font-style: italic;
	text-decoration: underline;
}
.lyrics table{
	width: 100%;
	border-collapse: collapse;
}
.lyrics tr{
	display: flex;
	justify-content: space-between;
	border-radius: 10px;
}
.lyrics tr:hover{
	background-color: #eef;
	border: 2px solid #bbc;
}
.lyrics th,td{
	width: 40%;
	padding: 5px;
	box-sizing: border-box;
}
.lyrics th{
	text-align: left;
}
.lyrics h2{padding-left: 1vw}
.vocal-h1k0{color: red}
.vocal-kickreprod{color: blue}
.vocal-together{color: purple}
footer{
	font-size: 16pt;
	font-weight: bold;
}